#wrapper-Article {
  width: 45%;
  margin: auto;
  background-color: #3b3c37;
  font-size: larger;
}
#wrapper {
  width: 98%;
  margin: auto;
  background-color: #3b3c37;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
nav ul li {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover {
  background-color: #111;
}
ul#social {
  list-style-type: none;
}
ul#social li {
  width: 15%;
  float: right;
}
ul li img {
  width: 30%;
}

/* Grid For Latest News */
.grid-container-latest {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item-latest {
  padding: 15px;
  text-align: justify;
}

/* Grid For Aware Videos */
.grid-container-AwareVideos {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #3B3C37;/*#354450;*/
  padding: 15px;
}
.grid-item-AwareVideos {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


/* Grid For Be-Aware Websites */
.grid-container-AwareWebsites {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item-AwareWebsites {
  padding: 15px;
  text-align: center;
}

/* Make changes to the text-align property */
div.a {
  text-align: center;
}
div.b {
  text-align: left;
}
div.c {
  text-align: right;
}
div.d {
  text-align: justify;
}
.be-aware {
  display: flex;
}
#landscape {
  height: 300px;
  background: url("../images/landscape.jpg");
}

/* Google Fonts Integration */
h1 {
  color: #fffaf0; /* #2b180b;*/
  font-family: "Shippori Mincho", serif;
}
h2 {
  color: #fffaf0; /*#8e6938; */
  font-family: "Shippori Mincho", serif;
}
h3 {
  color: #fffaf0; /* #c9b398;*/
  font-family: "Shippori Mincho", serif;
}
p {
  color: #fffaf0; /* #e6dde0;*/
  font-family: "Shippori Mincho", serif;
}
body {
  background-color: #545450;
}

/* For Contact Form in About Page */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}