#wrapper {
  width: 98%;
  margin: auto;
  background-color: #3b3c37;
  /*background: url("../Images/landscape.jpg");*/
  /*background-image: linear-gradient(
    to left top,
    #35363e,
    #3e444b,
    #485258,
    #536063,
    #606e6e,
    #687673,
    #717e78,
    #7b867c,
    #81897c,
    #898c7c,
    #928f7c,
    #9b917e
  );​​*/
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
nav ul li {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover {
  background-color: #111;
}

ul#social {
  list-style-type: none;
}
ul#social li {
  width: 15%;
  float: right;
}

ul li img {
  width: 30%;
}

/* Grid For Latest News */
.grid-container-latest {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item-latest {
  padding: 15px;
  text-align: justify;
}

/* Grid For Aware Videos */
.grid-container-AwareVideos {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #354450;
  padding: 10px;
}
.grid-item-AwareVideos {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
/* Grid For Aware Websites */

.grid-container-AwareWebsites {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item-AwareWebsites {
  padding: 15px;
  text-align: center;
}

/*
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #354450;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
*/

/* Make changes to the text-align property */
div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
}

div.d {
  text-align: justify;
}
.be-aware {
  display: flex;
}
#landscape {
  height: 300px;
  background: url("../Images/landscape.jpg");
}

h1 {
  color: #fffaf0; /* #2b180b;*/
  font-family: "Shippori Mincho", serif;
}
h2 {
  color: #fffaf0; /*#8e6938; */
  font-family: "Shippori Mincho", serif;
}
h3 {
  color: #fffaf0; /* #c9b398;*/
  font-family: "Shippori Mincho", serif;
}
p {
  color: #fffaf0; /* #e6dde0;*/
  font-family: "Shippori Mincho", serif;
}

body {
  background-color: #545450;
}

/*
body {
  background-image: linear-gradient(
    to left top,
    #35363e,
    #3e444b,
    #485258,
    #536063,
    #606e6e,
    #687673,
    #717e78,
    #7b867c,
    #81897c,
    #898c7c,
    #928f7c,
    #9b917e
  );
}*/
